{% capture html %}
<ul class="navigation" id="navigation">
	{% assign entries = site.pages | sort: "navigation" %}
	{% for entry in entries %}
		{% if entry.navigation %}
			<li>
				<a class="{% if page.url == entry.url entry.url %}active{% endif %}" href="{{ entry.url | relative_url }}">
					{{ entry.icon }} {{ entry.sidebar }}
				</a>
			</li>
		{% endif %}
	{% endfor %}
	<li><a href="https://github.com/EEOB-BioData/BCB546-Spring2021"><i class="fab fa-github"></i> Data & Files</a></li>
	<li><a href="https://biodataskills.slack.com/"><i class="fab fa-slack"></i> Slack</a></li>
	<li><a href="https://canvas.iastate.edu/courses/79905"><i class="fab fa-empire"></i></i> Canvas</a></li>
	<li><a href="https://canvas.iastate.edu/courses/79905/pages/zoom-sessions"><i class="fas fa-video"></i> Zoom</a></li>
</ul>
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}
