{% capture html %}
<ul class="navigation" id="navigation">
	{% assign entries = site.pages | sort: "navigation" %}
	{% for entry in entries %}
		{% if entry.navigation %}
			<li>
				<a class="{% if page.url == entry.url entry.url %}active{% endif %}" href="{{ entry.url | relative_url }}">
					{{ entry.icon }} {{ entry.sidebar }}
				</a>
			</li>
		{% endif %}
	{% endfor %}
	<li><a href="https://github.com/EEOB-BioData/BCB546X-Fall2018"><i class='fa fa-github'></i> Data & Files</a></li>
	<li><a href="https://biodataskills.slack.com/"><i class='fa fa-slack'></i> Slack</a></li>
	<li><a href="https://canvas.iastate.edu/courses/52516"><i class='fa fa-cog'></i> Canvas</a></li>
</ul>
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}
