<sidebar class="sidebar" id="sidebar">
	<div class="sidebar-mobile">
		<img src="{{ "/assets/images/menu.svg" | relative_url }}" class="menu-icon" id="menu" />
		<img src="{{ "/assets/images/close.svg" | relative_url }}" class="close-icon" id="close" />
	</div>
	{% include search.html %}
	<div class="sidebar-main">
		<ul id="sitetitle" class="navigation"><center><h4><b>EEOB/BCB 546X</b><br>Fall 2018</h4></center></ul>
		<hr>
		{% include navigation.html %}
		{% include search-results.html %}
		<hr>
		<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
		<!-- <hr>
		<ul id="sitetitle" class="navigation"><small><i class='fa fa-github'></i> Hosted by <a href="https://github.com/">GitHub</a> Pages</small></ul> -->
	</div>
</sidebar>
